include includes/data.jade
include includes/mixins.jade

!!! 5
html(lang="fr")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        title

        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')

    body

    script(src='js/main.js')
